.profile-container {
  margin: 8rem;
  display: grid;
  grid-template-columns: [info-start] minmax(max-content, 1fr) [info-end stat-start] 3fr [stat-end];
  grid-gap: 2rem;
}

/*********Media Queries *********/

@media only screen and (max-width: 75em) {
  .profile-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 50em) {
  .profile-container {
    border: none;
    margin: 0;
  }
}
