.team-stats-card {
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.4rem 0.5rem;
  border-radius: 3px;
  margin-top: 4rem;

  text-align: center;
}

.team-stat-list {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 5rem);
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.team-stat-list > :first-child {
  text-align: left;
}

.team-rank {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
