.team-leaders-card {
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.4rem 0.5rem;
  border-radius: 3px;
  margin-top: 4rem;
  text-align: center;
}

.team-leader {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2rem 0;
}

.leader-labels {
  display: flex;
  flex-direction: column;
}

.stat-value {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

.leader-name {
  margin-top: 2rem;
  display: flex;
  justify-content: left;
  font-size: 2rem;
}
