.info-card {
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.4rem 0.5rem;
  border-radius: 3px;
  height: 100%;
  text-align: center;
}

.info-title {
  font-size: 3.25rem;
  margin: 1.5rem;
}

.info-image {
  display: flex;
  justify-content: center;
}

.info-label {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.75rem;
  font-weight: 700;
  margin: 2rem;
}

.info-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  list-style: none;
  margin-left: 4rem;
  height: calc(100% - 35rem);
  font-size: 1.5rem;
}

.info-values {
  display: grid;
  grid-template-columns: 1fr;
}
